.container
  .row
    .col-lg-6
      %h2 Изменение пароля
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = f.error_notification
        = f.input :reset_password_token, as: :hidden
        = f.full_error :reset_password_token
        .form-inputs
          = f.input :password,                                                                    |
            label: "Новый пароль",                                                                |
            required: true,                                                                       |
            autofocus: true,                                                                      |
            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), |
            input_html: { autocomplete: "new-password" }                                          |
          = f.input :password_confirmation,              
            label: "Подтвердите ваш новый пароль",       
            required: true,                              
            input_html: { autocomplete: "new-password" } 
        .form-actions
          = f.button :submit, "Изменить пароль", class: 'nav-link', class: 'btn btn-outline-dark',style: "margin-top:20px"
      = render "users/shared/links"
