.container
  .row
    .col-lg-8
      -# frozen_string_literal: true
      = simple_form_for(@post) do |f|
        = f.error_notification
        = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

        .form-inputs
          = f.input :title
          = f.input :content, as: :rich_text_area
          = f.input :tag_list

        .form-actions
        = f.submit ( f.object.new_record? ? "Создать" : "Обновить"), class: 'nav-link', class: 'btn btn-outline-dark',style: "margin-top:20px"
    .col-sm-4  
      .card-md-4       
        .card-header Теги
        .card-body Для навигации по постам используются "Теги", Теги - клшючевые слова поста, записываются через запятую.
