%div{:style => "float:right"} 
  = post.user.email
- if action_name == 'show'
  = content_tag "div", id: "like-count" do
    = render 'posts/likes', post: post
  = content_tag "div", id: "like_link" do
    = render 'posts/like_link', post: post
- else
  Рейтинг:
  = post.get_upvotes.size
.card.border-secondary
  .card-header
    = link_to post.title, post, :style=>'color:#000000;', class: 'initialism'
    / = post.title
  .card-body
    = post.content 
/= link_to 'Показать', post
/= link_to 'Редактировать', edit_post_path(post)
-if current_user
  - if post.user == current_user
    %div{:style => "float:right"} 
      .btn-group
        = link_to edit_post_path(post), class: 'nav-link', :style=>'color:#000000;' do
          .fa.fa-edit
          Редактировать
        = link_to post, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'nav-link', :style=>'color:#000000;' do
          .fa.fa-trash
          Удалить
  %p
= render post.tags
%hr
%br
