%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    %ul.navbar-nav
      - if current_user
        = link_to 'Новый пост', new_post_path, class: 'nav-link'
      = link_to 'Все посты', posts_path, class: 'nav-link'
    %ul.navbar-nav
      .dropdown
        %button.btn.btn-outline-secondary.dropdown-toggle{"aria-expanded" => "false", "data-bs-display" => "static", "data-bs-toggle" => "dropdown", :type => "button"}
          %i.fas.fa-user-cog
          Учетная запись и настройки
        %ul.dropdown-menu.dropdown-menu-end.dropdown-menu-lg-start
          - if current_user
            %li.nav-item{class: "#{'active font-weight-bold' if current_page?(edit_user_registration_path)}"}
              = link_to edit_user_registration_path, class: 'nav-link' do
                .fa.fa-user 
                  = current_user.email

            %li.nav-item{class: "#{'active font-weight-bold' if current_page?(destroy_user_session_path)}"}
              = link_to destroy_user_session_path, method: :delete, class: 'nav-link' do
                .fa.fa-sign-out-alt 
                Выйти

          - else
            %li.nav-item{class: "#{'active font-weight-bold' if current_page?(new_user_session_path)}"}
              = link_to 'Вход', new_user_session_path, class: 'nav-link'
            %li.nav-item{class: "#{'active font-weight-bold' if current_page?(new_user_registration_path)}"}
              = link_to 'Регистрация', new_user_registration_path, class: 'nav-link'
            %li.nav-item{class: "#{'active font-weight-bold' if current_page?(privacy_policy_path)}"}
              = link_to 'Политика Конфиденциальности', privacy_policy_path, class: 'nav-link'
