.container
  .row
    .col-lg-6
      %h2
        Редактирование #{resource_name.to_s.humanize}
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = f.error_notification
        .form-inputs
          = f.input :email, required: true, autofocus: true
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %p
              Ожидается подтверждение для: #{resource.unconfirmed_email}
          = f.input :password,                                                 
            hint: "Закройте эту вкладку, если вы не хотите вносить изменения", 
            required: false,                                                   
            input_html: { autocomplete: "new-password" }                       
          = f.input :password_confirmation,              
            required: false,                             
            input_html: { autocomplete: "new-password" } 
          = f.input :current_password,                       
            hint: "Введите пароль для сохранения изменений", 
            required: true,                                  
            input_html: { autocomplete: "current-password" } 
        .form-actions
          = f.button :submit, "Сохранить", class: 'btn btn-outline-dark',style: "margin-top:20px"
      %h3 Удаление учетной записи
      %p
        Что-то не понравилось? #{link_to "Удалить учетную запись", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete}
